@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
    scroll-behavior: smooth;
}

:root {
    --font-family: "Lato";
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #202020;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    overflow-x: hidden;

}

@media (max-width: 600px) {
  .navi {
    margin:0px;
    padding:10px;
    font-size: 10px;
  }
  
  header {
    font-size: 10px;
  }

  div.info-text h1{
    justify-content: center;
    font-size: 10px;
  }

  header p#Name {
    margin: 0px;
    padding: 5px;
    font-size: 10px
  }

  section#about
  div.container
  div.card
  div.info
  p.bio {
    line-height:2.0;
    font-size: 1vw;
  }

}



/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    text-align: center;
}



body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    margin:0px;
    

}

footer {
    text-align: center;
    padding: 3px;
    color: white;
}


h1 {
    color: white;
}


nav {
    top: 0;
    position: sticky;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: white;
}

nav a {
    color: white;
    transition: var(--transition);
}

nav a:hover {
    color: var(--primary-shadow);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

img {
    float: left;
    margin: 7px;
    padding: 7px;
    width: 350;
    height:auto;
    display: block;
}


button {
    font-family: "Lato";
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 4.5px;
    border-radius: 6px;
    font-weight: 800;
}


dialog {
    padding: 30px;
    animation: fadeIn 0.6s ease normal;
    border-radius: 3px;
    left: 50%;
    top: 50%;
    margin:0 auto;
    transform: translate(-50%, -50%);
}

dialog h2 {
    padding-bottom: 10px;
}

dialog::backdrop {
    background: rgba(50,50,50,0.75);
}






.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.info {
    color: white
}

section#skills
div.skill-cards
div.card
ul#skill-info{
    color: white;
    padding: 150;
    list-style-type:disc;
    text-indent: 8px;
    line-height: 25px;
}

header .info-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8 rem;
    height: 100vh;
    width: 100%;

}

header .info-text h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

header .info-text h3 {
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

section#about
div.container
div.card
div.info
p.bio {
    line-height:2.0
}

#projects 
.container 
.project-card 
.info
h1 {
    text-align: center;
}

#about,
#skills,
#projects {
    background-color: var(--bg-color);
    padding: 40px;
}

#skills .header,
#projects .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

#about .header h1,
#skills .header h1,
#projects .header h1 {
    color: #fff;
    text-transform: uppercase;
}


#projects .project-card:hover {
    border-color: white;
    box-shadow: none;
    cursor: pointer;
}

#about .card:hover,
#skills .skill-card:hover {
    border-color: white;
    box-shadow: none;
}

#about .card{
  padding: 20px;
  margin: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  display: flex;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#skills .skill-card {
  padding: 20px;
    margin: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#projects .project-card {
    padding: 20px;
    margin: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}


#skill .skill-cards .skill-card .info h1,
#projects .project-cards .project-card .info h1 {
    margin-bottom: 0px;
    text-align: center;
}


#projects div.project-card div.info {
    margin-top: -10px;
}


#about .card .info p,
#skills .skill-card .info p,
#projects .project-card .info p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 800;
}


#skills .skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin:10;
    padding:10;
}

#projects .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

#Name {
    color: whitesmoke;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 1.15rem;

}

/*Modal format and animation, courtesy of Jesse Couch
CodePen Profile: https://codepen.io/designcouch
Animations: https://codepen.io/designcouch/pen/obvKxm
*/
#modal-container {
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:scale(0);
    z-index:1;
    &.unfold {
      transform:scaleY(.01) scaleX(0);
      animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal-background {
        .modal {
          transform:scale(0);
          animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
      &.out {
        transform:scale(1);
        animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal-background {
          .modal {
            animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    }  
    
    .modal-background {
      display:table-cell;
      background:rgba(0,0,0,.8);
      text-align:center;
      vertical-align:middle;
      .modal {
        background:white;
        padding:50px;
        display:inline-block;
        border-radius:3px;
        font-weight:300;
        position:relative;
        h2 {
          font-size:25px;
          line-height:25px;
          margin-bottom:15px;
        }
        p {
          font-size:18px;
          line-height:22px;
        }
        .modal-svg {
          position:absolute;
          top:0;
          left:0;
          height:100%;
          width:100%;
          border-radius:3px;
          rect {
            stroke: #fff;
            stroke-width: 2px;
            stroke-dasharray: 778;
            stroke-dashoffset: 778;
          }
        }
      }
    }

}

.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right:0;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}


.icon-bar a:hover {
  background-color: #000;
}

.github {
  background: #553f3c;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}



@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }
  
  @keyframes unfoldOut {
    0% {
      transform:scaleY(1) scaleX(1);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(.005) scaleX(0);
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
  }
  
  @keyframes zoomOut {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(0);
    }
  }


/*_____________________________________________*/